body {
    font-family: Arial, sans-serif;
    margin:0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a4db2;
    display: flex;
    justify-content: center;
    align-items: center;

    .inside{
    width: 500px;
    padding: 30px;
    background: #f3f1f5e4;
    border-radius: 10px;
    text-align: left;
    
}

}
.inside2 label {
    display: inline-block;
    width: 150px;
    background:rgb(158, 235, 5);
}

input[type="submit"] {
    padding: 10px 20px;
    background: #45a049;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
